* {
    overflow: hidden;
    margin: 0px;
    padding: 0px;
}

body {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom right, rgb(166, 37, 37), rgb(127, 127, 15), rgb(23, 105, 23), rgb(47, 47, 101), rgb(83, 37, 83));
    background-size: 400% 400%;
    animation: AnimationName 5s ease alternate infinite;
}

@keyframes AnimationName {
    0%{background-position:0% 50%}
    100%{background-position:100% 50%}
    /* 100%{background-position:0% 50%} */
}
