.schedulecontainer {
    width: 100%;
    height: 100%;
    position:absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
}

@keyframes bodyBackground {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.scheduleheader {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
    border-bottom: 1px lightgray solid;
    box-shadow: 0px 0px 10px 10px rgba(176, 176, 176, 0.5);
}

.scheduletitle {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 4vw;
    background-color: rgb(109, 99, 45);
    background-image: linear-gradient(135deg, rgb(151, 138, 61),rgb(45, 59, 116));
    background-size: 100%;
    background-clip: text;
    color: transparent;
}

#assignbutton {
    width: 30%;
    height: 60%;
    background-color: rgb(204, 204, 204);
    border: 1px solid rgb(145, 145, 145);
    border-radius: 5px;
    display:flex;
    align-items: center;
    justify-content: center;
}

#assignbutton:hover {
    background-color: rgb(170, 170, 170);
    cursor: pointer;
}

#addtext {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2vw;
    color: black;
    text-shadow: 1px 1px 2px rgb(131, 131, 131);
}

.schedule {
    width: 100%;
    height: 85%;
    display: flex;
    align-items: center;
}


.category {
    height: 100%;
    width: calc(100%/3);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row {
    height: calc(100%/8);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.catlabel {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3vw;
    color: rgb(61, 63, 40);
    text-shadow: 1px 1px 1px rgb(177, 177, 177);
}