<!DOCTYPE html>
<html>
    <div class="logincontainer">
        <p class="title">Login to use</p>
        <div class="logininput">
            <p id="failtext">One or more of the fields is incorrect</p>
            <label for="uname">Username</label>
            <input type="text" id="uname" name="uname">
            <label for="pwd">Password</label>
            <input type="password" id="pwd" name="pwd">
            <input type="button" id="login "value="Log in">
        </div>
    </div>
</html>