<!DOCTYPE html>
<html>
    <div class="logincontainer">
        <p class="title">Assignment Manager</p>
        <p class="logintitle">Login to use</p>
        <div class="logininput">
            <p id="failtext">One or more of the fields is incorrect</p>
            <label class="loginlabel" for="uname">Username</label>
            <input type="text" id="uname" name="uname">
            <label class="loginlabel" for="pwd">Password</label>
            <input type="password" id="pwd" name="pwd">
            <input type="button" id="login" value="Log in">
        </div>
    </div>
</html>