<html>
    <div id="newassignbackground">
        <div id="newassigncontainer">
            <div class="assign_container">
                <p id="assignlabel">Select details for new assignment</p>
            </div>
            <div class="assign_container">
                <div class="assinputs">
                    <label for="category" class="asslabel">Category: </label>
                    <select name="category" id="category">
                        <option value="homework">Homework</option>
                        <option value="exam">Exam</option>
                        <option value="other">Other</option>
                    </select>
                </div>
                <div class="assinputs">
                    <label for="date" class="asslabel">Date: </label>
                    <input type="date" name="date" id="date">
                </div>
            </div>
            <div class="assign_container">
                <div class="assinputs">
                    <label for="assignment" class="asslabel">Assignment: </label>
                    <input type="text" name="assignment" id="assignment">
                </div>
                <div class="assinputs">
                    <label for="description" class="asslabel">Description: </label>
                    <input type="text" name="description" id="description">
                </div>
            </div>
            <div class="assign_container">
                <div id="cancelbutton" class="assbutton"><p id="cancel" class="buttonlabel">Cancel</p></div>
                <div id="addbutton" class="assbutton"><p id="add" class="buttonlabel">Add</p></div>
            </div>
        </div>
    </div>
</html>