<html>
    <div class="schedulecontainer">
        <div class="scheduleheader">
            <p class="scheduletitle">Riley's Schedule</p>
            <p class="webdescrip"></p>
            <div id="assignbutton">
                <p id="addtext">Add a new assignment</p>
            </div>
        </div>
        <div class="schedule">
            <div class="category" id="homework">
                <div class="row">
                    <p class="catlabel">Homework/Projects</p>
                </div>
            </div>
            <div class="category" id="exams">
                <div class="row">
                    <p class="catlabel">Quizzes/Exams</p>
                </div>
            </div>
            <div class="category" id="other">
                <div class="row">
                    <p class="catlabel">Daily/Other</p>
                </div>
            </div>
        </div>
    </div>
</html>